
@{
    ViewBag.Title = "_NavbarTacVu";
}

<!--Search bar-->
<div class="search-container position-relative">
    <div class="d-flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="search-icon feather feather-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
        <input class="form-control search-input ps-5" type="search"
               placeholder="Tìm kiếm sản phẩm..." aria-label="Search" data-bs-toggle="modal" data-bs-target="#exampleModal">
    </div>
</div>

<!-- Modal của Search bar -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: rgba(0, 0, 0, 0) !important;border: none;">
            <!--Main search bar-->
            <div class="main-search-container">
                <div class="search-wrapper">
                    <div class="search-header">
                        @using (Html.BeginForm("TimKiemTheoTen", "Product", FormMethod.Post, new { name = "name" }))
                        {
                            <div class="search-input-group">
                                <input type="text" class="search-input form-control " placeholder="Tìm kiếm sản phẩm..." name="name" >
                                <i class="fas fa-search search-icon"></i>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                        }

                    </div>

                    <div class="category-filters ms-5">
                        <div class="ms-2">Từ khóa nổi bật</div>
                        <a href="@Url.Action("TimKiemTheoTen", "Product", new {name="Hoa Hồng"})" class="filter-chip">
                            Hoa Hồng Khổng Lồ
                        </a>
                        <a href="@Url.Action("TimKiemTheoTen", "Product", new {name="Dưa Hấu"})" class="filter-chip">
                            Gấu Bông Dưa Hấu
                        </a>
                        <a href="@Url.Action("TimKiemTheoTen", "Product", new {name="Hươu Cao Cổ"})" class="filter-chip">
                            Gấu Bông Hươu Cao Cổ
                        </a>
                        <a href="@Url.Action("TimKiemTheoTen", "Product", new {name="Stitch"})" class="filter-chip">
                            Gấu Bông Stitch
                        </a>
                        <a href="@Url.Action("TimKiemTheoTen", "Product", new {name="Capybara"})" class="filter-chip">
                            Gấu Bông Capybara
                        </a>
                        <a href="@Url.Action("TimKiemTheoTen", "Product", new {name="Heo"})" class="filter-chip">
                            Heo Bông
                        </a>
                        <a href="@Url.Action("TimKiemTheoTen", "Product", new {name="Mèo"})" class="filter-chip">
                            Mèo Bông
                        </a>


                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



<button class="btn " type="button" data-toggle="popover-user">
    <img src="@Url.Content("~/Content/Images/icon-account-white.svg")" alt="" />
</button>


<button class="btn " type="button" data-toggle="popover">
    <img src="@Url.Content("~/Content/Images/icon-cart-white.svg")" alt="" />
</button>



